.footer__copyright {
  margin: 0;
  font-family: 'Roboto',  Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #B6BCBF;
}

@media screen and (min-width: 766px){
  .footer__copyright {
    margin-right: calc(25px + (100vw - 768px)*(250 - 25)/(1440 - 768));
  }
}

@media screen and (min-width: 1440px){
  .footer__copyright {
    margin-right: 250px;
  }
}
