@import url(./_color/_white/header-main__link-item_color_white.css);
@import url(./_color/_black/header-main__link-item_color_black.css);

.header-main__link-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 34px;
}

.header-main__link-item:last-child {
    margin-right: 0;
}

@media screen and (max-width: 770px){
  .header-main__link-item{
    margin-right: calc(11px + (100vw - 320px)*(34 - 11)/(768 - 320));
  }
}
