@import url(./__description/digits__description.css);
@import url(./__page-name/digits__page-name.css);

.digits {
    padding: 16px calc(16px + (100vw - 320px)*(40 - 16)/(768 - 320)) 24px;
    font-family: 'Roboto', Arial, sans-serif;
}

@media screen and (min-width: 427px){
  .digits{
    padding-top: 32px;
    padding-bottom: 36px;
  }
}

@media screen and (min-width: 770px){
  .digits{
    padding: 32px calc(40px + (100vw - 768px)*(104 - 40)/(1440 - 768)) calc(36px + (100vw - 768px)*(76 - 36)/(1440 - 768));
  }
}

@media screen and (min-width: 1440px){
  .digits{
    padding-top: 40px;
  }
}

@media screen and (min-width: 1440px){
  .digits{
    padding: 40px calc((100% - 1232px)/2) 76px;
  }
}
