.title.title_place_stack {
  font-size: 30px;
  line-height: 40px;
  color: #1A1B22;
  margin-bottom: 38px;
  max-width: 336px;
}

@media screen and (min-width: 423px){
  .title.title_place_stack {
    line-height: 34px;
  }
}

@media screen and (min-width: 1024px){
  .title.title_place_stack {
    font-size: 40px;
    line-height: 46px;
  }
}

@media screen and (min-width: 1440px){
  .title.title_place_stack {
    margin-right: 194px;
  }
}
