@import url(./__text-content/card__text-content.css);
@import url(./__text-date/card__text-date.css);
@import url(./__title/card__title.css);
@import url(./__text/card__text.css);
@import url(./__source/card__source.css);
@import url(./__image/card__image.css);

.card {
  border-radius: 8px;
  overflow: hidden;
  background-color: white;
  position: relative;
  padding-bottom: 20px;
}

@media screen and (min-width: 1024px){
  .card {
    padding-bottom: 24px;
  }
}
