.title.title_place_author {
  font-size: 30px;
  line-height: 40px;
  color: #1A1B22;
  margin-bottom: 16px;
}

@media screen and (min-width: 423px){
  .title.title_place_author{
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 770px){
  .title.title_place_author{
    font-size: calc(30px + (100vw - 768px)*(40 - 30)/(1440 - 768));
    line-height: 46px;
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 1440px){
  .title.title_place_author{
    font-size: 40px;
    line-height: 46px;
  }
}
