.table-row.table-row_margin-bottom {
  margin-bottom: calc(24px + (100vw - 423px)*(56 - 24)/(768 - 423));
}

@media screen and (max-width: 423px){
  .table-row.table-row_margin-bottom {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px){
  .table-row.table-row_margin-bottom {
    margin-bottom: 56px;
  }
}
