.committer__avatar {
  max-width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 12px;
}

@media screen and (min-width: 1024px){
  .committer__avatar {
    max-width: 64px;
    height: 64px;
  }
}
